@model RAS.Bootcamp.Mvc.Net.Models.Entities.Pembeli;


<form asp-controller="Pembeli" method="post" asp-action="Delete">
    <input asp-for="Id" hidden />
    <div class="border p-3 mt-4">
        <div class="mb-3">
            <label class="form-label">Id</label>
            <input asp-for=Id type="number" disabled class="form-control" />
        </div>

        <div class="mb-3">
            <label class="form-label">ID User</label>
            <input asp-for=IdUser type="number" disabled class="form-control" />
        </div>

        <div class="mb-3">
            <label class="form-label">Alamat</label>
            <input asp-for=Alamat type="text" disabled class="form-control" />
        </div>

        <div class="mb-3">
            <label class="form-label">No HP</label>
            <input asp-for=NoHp type="text" disabled class="form-control" />
        </div>
        <button type="submit" class="btn btn-danger" style="width:150px">Delete</button>

    </div>
</form>

