@model RAS.Bootcamp.Mvc.Net.Models.Entities.Penjual;

@{
    ViewData["Title"] = "Create Page";
}

<h1>Create</h1>

<hr />

<div class="row">
    <div class="col-6">

        <div class="card">

            <div class="card-header">
                <h5>Create a new List</h5>
            </div>

            <div class="card-body">
                <form asp-controller="Penjual" asp-action="Create" method="post">

                    <div class="mb-3">
                        <label class="form-label">ID User</label>
                        <input asp-for=IdUser type="number" class="form-control" />
                        <span asp-validation-for="IdUser"></span>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Nama Toko</label>
                        <input asp-for=NamaToko type="text" class="form-control" />
                        <span asp-validation-for="NamaToko"></span>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Alamat</label>
                        <input asp-for=Alamat type="text" class="form-control" />
                        <span asp-validation-for="Alamat"></span>
                    </div>

                    <div class="mb-3">
                        <button type="submit" class="btn btn-primary" >Create</button>
                    </div>

                </form>
            </div>

            <div class="card-footer">
            </div>


        </div>


    </div>
</div>